:root {
  font-size: 62.5%;
}

@font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'), url('../font/symbols-technomart.woff?22619757') format('woff'), url('../font/symbols-technomart.ttf?22619757') format('truetype'), url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
}

header {
  width: 100%;
}

.top {
  width: 100%;
  display: block;
  background-color: #253148;
  min-height: 42px;
}

.top__item {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 4.2rem;
  align-items: center;
}

.top__item--logo {
  font-size: 2.4rem;
  line-height: 2.4rem;
  background-color: #ef3341;
  display: block;
  box-shadow: 0 5px #b52933;
  text-transform: uppercase;
  font-weight: 400;
  padding: 11px 0 7px 0;
  min-width: 220px;
  text-align: center;
}

footer .top__item--logo {
  font-size: 3rem;
  line-height: 3rem;
  padding: 17px 0 19px 0;
  margin-right: 144px;
  height: 27px;
}

.top__item::before {
  font-family: symbols-technomart;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
}

.top__item--search, .top__item--bookmark, .top__item--basket {
  position: relative;
}

.top__item--search:before {
  content: '🔍';
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 17px;
  opacity: .3;
}

.top__item--search:hover, .top__item--search:hover::before {
  color: #ffffff;
  opacity: 1;
}

.top__item--search:active, .top__item--search:hover:active {
  background-color: #161d29;
  color: #a2a4a6;
  opacity: .3;
}

.top__item--bookmark:before {
  content: "🔖";
  position: absolute;
  top: 11px;
  left: 15px;
  opacity: .3;
  font-size: 17px;
}

.top__item--bookmark:hover, .top__item--bookmark:hover::before {
  background-color: #212a3a;
  color: #ffffff;
  opacity: 1;
}

.top__item--bookmark:active, .top__item--bookmark:hover:active {
  background-color: #161d29;
  color: #a2a4a6;
  opacity: .3;
}

.top__item--basket:before {
  content: '\62';
  position: absolute;
  top: 11px;
  left: 18px;
  opacity: .3;
  font-size: 17px;
}

.top__item--basket:hover, .top__item--basket:hover::before, .icon-basket:hover {
  background-color: #212a3a;
  color: #ffffff;
  opacity: 1;
}

.icon-basket:hover::before {
  color: #ffffff;
  opacity: 1;
}

.top__item--basket:active, .icon-basket:active {
  background-color: #161d29;
  color: #a2a4a6;
  opacity: .3;
}

.top__item--active {
  background-color: #ee3643;
}

.top__item--active:hover {
  background-color: #ee3643;
}

.top__item:nth-child(2) {
  width: 220px;
  padding-left: 48px;
}

.top__item:nth-child(3) {
  width: 100px;
  padding-left: 47px;
}

.top__item:nth-child(4) {
  width: 100px;
  padding-left: 55px;
}

.top__item:nth-child(5) {
  width: 150px;
  background-color: #63a73c;
  text-align: center;
}

.top__item--last:hover, .icon-basket:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.top__item--last:active, .icon-basket:active {
  background-color: #518534;
  opacity: 1;
  border-color: #518534;
}

.icon-basket:active::before {
  opacity: 0.3;
}

.top__item--active:active {
  background-color: #ee3643;
}

.main-wrapper {
  width: calc(100% * 0.783333333);
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.top .main-wrapper {
  display: flex;
  justify-content: flex-start;
}

.info {
  display: flex;
  justify-content: flex-start;
  width: calc(100% * 0.783333333);
  width: 940px;
  padding-top: 61px;
  padding-bottom: 39px;
}

.info--catalog {
  padding-bottom: 36px;
}

.info__decsription {
  color: #ef3341;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.3rem;
  max-width: 176px;
  padding-left: 52px;
  margin-top: -12px;
}

.info__contacts {
  display: flex;
  flex-direction: column;
  width: 413px;
  margin-top: -3px;
}

.info__tele {
  color: #e9292a;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 16px;
}

.info__tele:before {
  content: '📞';
  margin-right: 32px;
  color: #b7bfc8;
  font-family: symbols-technomart;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
  margin-right: 33px;
}

.info__address {
  color: #32425c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  padding-left: 39px;
}

.info__login {
  width: 108px;
  padding-left: 30px;
  margin-top: -4px;
  color: #000000;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding-right: 36px;
}

.info__register {
  color: #000000;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: -2px;
}

.info__login:hover, .info__register:hover {
  color: #ee3643;
}

.info__login:active, .info__register:active {
  color: #c5c5c5;
}

.info__login::before {
  content: '\2386';
  color: #c5c5c5;
  font-family: symbols-technomart;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
}

.info__login:hover::before {
  color: #32425c;
}

.info__login:active::before {
  color: #c5c5c5;
}

.nav {
  display: flex;
  justify-content: flex-start;
  width: calc(100% * 0.783333333);
  width: 940px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  margin-bottom: 119px;
}

.nav--footer {
  margin-bottom: 0px;
  width: calc(100% * 0.765957);
  width: 573px;
  border-bottom: none;
  background-color: #2f405c;
  font-size: 18px;
  padding-top: 11px;
}

.nav--footer .nav__item:hover {
  text-decoration: underline;
  background-color: #32425c;
}

.nav--footer .nav__item:active {
  opacity: .5;
  background-color: #32425c;
}

.nav--yellow {
  color: #ffd180;
  width: 56.7446%;
  padding-top: 0;
  margin-top: -6px;
  margin-left: 46px;
  background-color: #32425c;
}

.nav--yellow .nav__item {
  color: #ffd180;
}

.nav--footer .nav__item {
  background-color: #32425c;
}

.nav__item {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 4.2rem;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;
  min-width: 80px;
}

.nav__item:hover {
  background-color: #293449;
}

.nav__item:active {
  color: #b2b2b2;
  background-color: #1d2739;
}

.nav__item:nth-child(1) {
  width: 157px;
}

.nav__item:nth-child(2) {
  width: 91px;
}

.nav__item:nth-child(3) {
  width: 143px;
}

.nav__item:nth-child(4) {
  width: 82px;
}

.nav__item:nth-child(5) {
  width: 210px;
}

.nav__item:nth-child(6) {
  width: 96px;
}

.nav__item:nth-child(7) {
  width: 152px;
  padding-right: 9px;
}

.nav--footer .nav__item {
  padding-top: 18px;
}

.nav--footer .nav__item:nth-child(1) {
  width: 126px;
}

.nav--footer .nav__item:nth-child(2) {
  width: 130px;
}

.nav--footer .nav__item:nth-child(3) {
  width: 95px;
}

.nav--footer .nav__item:nth-child(4) {
  width: 137px;
}

.nav--footer .nav__item:nth-child(5) {
  width: 89px;
}

.offer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.offer__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  height: 55px;
  position: relative;
  margin-bottom: -7px;
}

.offer .btn--offer {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .1);
  margin-left: 3px;
  padding: 11px 24px 9px;
}

.btn.btn--offer:active {
  background-color: rgba(0, 0, 0, .3);
}

.btn.btn--offer:hover {
  background-color: rgba(0, 0, 0, .2);
}

.offer__item {
  width: calc(25% * 1.2766);
  padding-left: 22px;
  box-sizing: border-box;
  padding-bottom: 33px;
  display: block;
}

.offer--column {
  padding-left: 19px;
  padding-top: 18px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.offer__title::after {
  content: "";
  position: relative;
  display: block;
  background: url(../img/sprite.png) no-repeat -93px -5px;
  width: 44px;
  height: 65px;
  left: 190px;
  top: -18px;
}

.offer__item--yellow {
  background-color: #f7b329;
  position: relative;
}

.offer__item--yellow:nth-child(2) {
  margin-top: 20px;
}

.offer__item--blue {
  background-color: #49b0df;
}

.offer__item--rose {
  background-color: #cd7ad2;
}

.offer__item--green {
  background-color: #86d27a;
}

.slider {
  width: 65.95%;
}

.slider__block {
  position: relative;
  display: block;
  top: 14px;
  color: #fff;
}

.slider__title {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 2.3rem;
  margin: 0;
  margin-top: 34px;
  padding-left: 24px;
  text-transform: uppercase;
}

.slider__desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
  padding-left: 25px;
  margin-top: 8px;
}

.slider__img {
  margin-top: -71px;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.offer--column {
  width: calc(25% * 1.2766);
  flex-direction: column;
}

.offer--column .offer__item {
  width: 100%;
}

.popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 45px;
}

.popular-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.popular-assort__hvr {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.popular-assort__wrapper:hover~.popular-assort__hvr, .popular-assort__hvr:hover {
  opacity: 1;
  visibility: visible;
}

.popular-assort__buy, .popular-assort__save {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
}

.popular-assort__save:hover {
  color: #32425c;
  background-color: #fff;
  border-color: #32425c;
}

.popular-assort__save:active {
  color: #c1c6ce;
  background-color: #fff;
  border-color: #c1c6ce;
}

.icon-basket {
  position: relative;
}

.icon-basket::before {
  content: '\62';
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: .3;
  font-size: 17px;
  font-family: symbols-technomart;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
}

.popular-assort__item {
  border: 1px solid #e5e5e5;
}

.popular-assort--brand .popular-assort__item {
  vertical-align: top;
  width: 218px;
  min-height: 143px;
  line-height: 143px;
  border: 1px solid #e5e5e5;
  margin-bottom: 0px;
  display: flex;
}

.popular-assort__item:hover {
  border-color: #fff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
}

.popular-assort__item:active {
  border-color: #fff;
  box-shadow: 0 4px 10px rgba(41, 52, 73, .5);
}

.popular-assort--brand .popular-assort__item:active .popular-assort__img {
  opacity: .5;
}

.popular-assort__save {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.popular-block__title-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ed;
  align-items: center;
  margin-bottom: 1px;
}

.popular-block__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #32425c;
  text-transform: uppercase;
  padding-left: 27px;
  margin-top: 37px;
}

.popular-block__btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  line-height: 1.4rem;
  margin-right: 24px;
  padding: 12px 69px;
  border-radius: 4px;
}

.popular-assort {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-assort__item {
  width: 23.407%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  position: relative;
  font-weight: bold;
  text-align: center;
}

.popular-assort__img {
  max-width: 100%;
  height: auto;
}

.popular-assort__item img {
  vertical-align: middle;
  margin: auto;
}

.popular-assort__title {
  min-height: 40px;
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  margin: 0 0 12px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700
}

.popular-assort__price-old {
  min-height: 20px;
  color: #999;
  text-decoration: line-through;
  margin: 0 auto;
}

.popular-assort__price {
  position: relative;
  width: 80px;
  margin: 6px auto;
  margin-bottom: 16px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.popular-assort__price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.controls__input {
  display: none;
}

.service {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 154px;
  width: 940px;
}

.service-wrapper {
  background-color: #f2f6f8;
}

.service__item {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 81px;
  margin-top: -55px;
}

.service__title {
  margin: 0 0 24px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.service__title--top {
  color: #000000;
  font-size: 30px;
  line-height: 24px;
  text-align: left;
  width: 100%;
  margin: 0 0 29px;
}

.service__decs {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 56px;
  width: 380px;
  margin-top: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.service__decs--top {
  padding-right: 539px;
  width: 940px;
  box-sizing: border-box;
  margin-bottom: 14px;
  margin-top: 14px;
}

.service__img {
  max-width: 100%;
  position: relative;
  display: block;
  top: -121px;
  left: 150px;
}

.service__btn {
  width: 195px;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

.service__img--garant {
  top: -198px;
  left: 196px;
}

.controls {
  width: 74.468%;
  margin-top: 88px;
  height: 326px;
}

.service__item {
  display: none;
}

.controls__input--shipp:checked~.controls .service__item--shipp, .controls__input--garant:checked~.controls .service__item--garant, .controls__input--credit:checked~.controls .service__item--credit {
  display: flex;
}

.service__capabilities {
  display: flex;
  flex-direction: column;
  width: 240px;
  position: relative;
  margin-top: 54px;
  height: 326px;
}

.service__capabilities::after {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 100;
  width: 10px;
  height: 272px;
  background: url(../img/sprite.png) -459px 0 no-repeat;
}

.capabilities__item {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  display: block;
  padding: 14px 22px 15px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
  cursor: pointer;
}

.capabilities__item:hover {
  background-color: #293449;
}

.controls__input--shipp:checked~.service__capabilities .capabilities__item:nth-child(1), .controls__input--garant:checked~.service__capabilities .capabilities__item:nth-child(2), .controls__input--credit:checked~.service__capabilities .capabilities__item:nth-child(3) {
  color: #32425c;
  background-color: #fff;
  border-color: #fff;
}

.btn {
  background-color: #ef3341;
  color: #fff;
  text-decoration: none;
}

.btn--map {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
}

.btn--slider {
  position: relative;
  top: -56px;
  left: 25px;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 10px 48px;
  text-align: center;
  border-radius: 3px;
}

.btn--add {
  width: 220px;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
}

.about-company {
  display: flex;
  padding-bottom: 86px;
  justify-content: space-between;
}

.about-company__item {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: #32425c;
  width: 100%;
  padding-bottom: 32px;
}

.footer-bottom {
  background-color: #253148;
  width: 100%;
  padding: 37px 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .main-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer-top__address {
  color: #fff;
  width: 340px;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 24px;
}

.copyright {
  width: 250px;
  color: #fff;
  padding-right: 140px;
}

.copyright--academy {
  padding-right: 0;
  padding-left: 51px;
  width: 101px;
}

.copyright, .feedback {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.feedback__mail, .copyright__address {
  color: #ffd180;
  text-decoration: none;
}

.feedback p, .copyright p {
  margin: 0
}

.social__btn {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 4px;
  font-size: 0;
}

.social__btn::before {
  font-family: 'symbols-technomart';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 40px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  left: 12px;
}

.social__btn--vk:before {
  content: '\76';
}

.social__btn--fb:before {
  content: '\66';
}

.social__btn--insta:before {
  content: '📷';
}

.social__btn:hover {
  background-color: #ee3643;
  border-radius: 50%;
  z-index: 0;
}

.about-company__title {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.about-company__desc {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 22px;
  padding-right: 110px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.feedback {
  padding-left: 114px;
}

.about-company__delivery-item {
  position: relative;
  margin: 0;
  padding: 0 0 20px 35px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  list-style: none;
}

.about-company__item .about-company__desc:nth-child(3) {
  padding-right: 200px;
  margin-bottom: 5px;
}

.about-company__map {
  margin-top: 9px;
  margin-bottom: 40px;
}

.about-company__delivery {
  padding-left: 0px;
}

.about-company__delivery-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;
}

form {
  width: 220px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-top: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.assort--catalog {
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.assort--catalog .popular-assort__item {
  width: 31.428%;
}

.breadcrumbs {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__item {
  text-decoration: none;
  list-style-type: none;
  margin-right: -4px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.breadcrumbs__item:nth-child(1)::before {
  margin: 0;
  font-size: 16px;
  color: #c1c6ce;
  content: "🏠";
  font-family: 'symbols-technomart';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.breadcrumbs__item:after {
  content: "\3e";
  display: inline-block;
  width: 15px;
  margin: 0 10px 0 11px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-family: "symbols-technomart";
  color: #c1c6ce;
}

.breadcrumbs__ite--last:after {
  display: none;
}

h1 {
  width: 100%;
}

.flag::after {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-position: -389px -5px;
}

.page__item {
  min-width: 38px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-right: 8px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  border-radius: 3px;
}

.page__item:hover {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
  cursor: default;
}

.filter__title {
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: -1px;
}

fieldset.filter.filter--brands {
  margin-top: 48px;
}

fieldset.filter.filter--supply {
  margin-top: 21px;
}

.filter__label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 34px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__label::before {
  content: '\2610';
  position: absolute;
  top: 2px;
  left: 0px;
  vertical-align: middle;
  font-family: 'symbols-technomart';
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.filter__input:checked+.filter__label::before {
  content: '\2611';
}

.filter__input {
  display: none;
}

.filter--supply .filter__label::before {
  content: '\25cb';
}

.filter--supply .filter__input:checked+.filter__label::before {
  content: '\25cf';
}

.range-controls {
  position: relative;
  min-height: 41px;
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls__bar {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls__diaposon {
  height: 2px;
  background: #00ca74;
  margin-left: 20px;
  width: 70%;
}

.toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle--min {
  left: 20px;
}

.toggle--max {
  left: 158px;
}

.filter-price {
  font-size: 0;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}

.filter-price__label {
  width: 117px;
}

.filter-price__input {
  width: 79px;
  margin: 0;
  padding: 8px;
  border: none;
  font-size: 17px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-price__label--min::after {
  content: '—';
  padding: 10px 8px;
  font-size: 17px;
}

.contact-form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modal-content:nth-child(1) {
  margin: 0 auto;
  width: 460px;
}

.modal-content__label {
  width: 100%;
  display: block;
}

.modal-content:nth-child(2) {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fff;
  padding: 37px 80px 37px 80px;
}

.modal-content .btn {
  line-height: 18px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin: 0 20px 0 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  border: none;
  outline: none;
}

.modal-content .close__btn {
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}

.modal-content .close__btn:hover {
  outline: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.modal-content .close__btn:active {
  outline: 1px solid #ee3643;
  background-color: #ffffff;
}

.btn:hover {
  background-color: #ca2c37;
  outline: none;
}

.btn:active {
  background-color: #ba2732;
  outline: none;
}

.modal-content .btn:nth-child(1) {
  margin-right: 20px;
}

.modal-content__label:first-child {
  margin-right: 20px;
}

.modal-content__label {
  vertical-align: middle;
  width: 220px;
  margin: 0 0 21px 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
}

.modal-content__label--textarea {
  width: 100%;
}

.modal-content__input {
  width: 186px;
  margin: 10px 0 0 0;
  padding: 7px 15px 8px 15px;
  border: 2px solid #cccccc;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 3px;
  outline: none;
}

.modal-content__input--textarea {
  width: 426px;
  min-height: 94px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 620px;
  height: 423px;
  margin: auto;
  border-top: 7px solid #ee3643;
  overflow: auto;
  background-color: #ffffff;
  -webkit-animation: fade 0.2s both;
  animation: fade 0.2s both;
}

.modal-contact {
  display: none;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-contact-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
}

.modal-close:before, .modal-close:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 17px;
  width: 5px;
  height: 25px;
  background-color: #ee3643;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content {
  padding: 47px 80px 12px 80px;
  font-size: 0;
}

.contact-form-label {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin: 0 0 21px 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
}

.contact-form-label:first-child {
  margin-right: 20px;
}

.contact-form-label:last-child {
  width: 460px;
}

.contact-form-item {
  width: 186px;
  margin: 10px 0 0 0;
  padding: 7px 15px 8px 15px;
  border: 2px solid #cccccc;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border-radius: 3px;
  outline: none;
}

.text-field {
  width: 426px;
  min-height: 94px;
}

.modal-footer {
  padding: 37px 80px 60px 80px;
  font-size: 0;
  background-color: #f1f1f1;
}

.modal-btn {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin: 0 20px 0 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  line-height: 18px;
  color: #fff;
  border-radius: 3px;
}

.cabinet {
  width: 299px;
  margin-top: -36px;
}

.cabonet__name {
  padding: 10px;
  float: left;
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-family: 'Cuprum', 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding-left: 47px;
  margin-bottom: 8px;
  position: relative;
}

.cabonet__name::before {
  font-size: 18px;
  color: #c5c5c5;
  content: '👨';
  font-family: 'symbols-technomart';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
  position: absolute;
  left: 9px;
}

.cabonet__name::after {
  margin-right: 0;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: #c5c5c5;
  content: '\241b';
  font-family: 'symbols-technomart';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
  position: absolute;
  right: -1px;
}

.cabinet__item {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  color: #32425c;
  font-size: 16px;
  line-height: 24px;
}

.cabonet__name:active, .cabonet__name:active::before, .cabonet__name:active::after {
  color: #c5c5c5;
}

.cabonet__name:hover::before, .cabonet__name:hover::after {
  color: #293449;
}

.cabinet__item:active {
  color: #c5c5c5;
}

.cabinet__item:hover {
  color: #ee3643;
}

.cabinet__item:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #32425c;
  margin-left: 15px;
  top: 7px;
  left: -11px;
}

.cabinet__item:nth-child(2):after {
  display: none;
}

.nav--contact {
  margin-bottom: 60px;
}

.modal-btn:last-child {
  margin-right: 0;
}

.nav--catalog {
  margin-bottom: 67px;
}

.modal-close-btn {
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}

.modal-close-btn:hover {
  outline: 1px solid #bdc6ca;
}

.modal-close-btn:active {
  outline: 1px solid #ee3643;
}

.modal-cart {
  display: none;
  height: 275px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-cart-show {
  display: block;
}

.modal-cart-content {
  margin: 0;
  padding: 47px 80px 50px 80px;
}

.modal-text {
  padding: 0 0 0 100px;
  margin: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 66px;
  background: url(../img/modal_success.png) no-repeat;
  background-position: 0 50%;
}

.features-slider {
  position: relative;
  width: 620px;
  padding-top: 18px;
}

.features-slider input[type='radio'] {
  display: none;
}

.features-slider-arrows {
  position: relative;
}

.features-slider-arrow {
  position: absolute;
  top: 111px;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  background: none;
  text-decoration: none;
  cursor: pointer;
  z-index: 50;
}

.features-slider-controls {
  position: absolute;
  left: 47.5%;
  bottom: 36px;
  z-index: 100;
  text-align: center;
  font-size: 0;
}

.features-slider-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.features-slider-control:first-child {
  margin-right: 10px;
}

.features-slider-btn-1:checked~.features-slider-controls .control-1, .features-slider-btn-2:checked~.features-slider-controls .control-2 {
  background-color: #ca2c37;
}

.features-slider-inner {
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #dda028;
}

.features-slider-btn-1:checked~.features-slider-inner {
  background-image: url(../img/features_slide-1_perforator.jpg);
}

.features-slider-btn-2:checked~.features-slider-inner {
  background-image: url(../img/features_slide-2_drill.jpg);
}

.features-slides {
  width: 200%;
  min-height: 266px;
}

.features-slider-btn-1:checked~.features-slider-inner .features-slides {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.features-slider-btn-2:checked~.features-slider-inner .features-slides {
  -webkit-transform: translate(-620px);
  -ms-transform: translate(-620px);
  transform: translate(-620px);
}

.features-slide {
  float: left;
  width: 570px;
  padding: 23px 25px 22px 25px;
}

.features-slide-title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.features-slide-text {
  margin: 0 0 125px 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.features-slide-btn {
  width: 195px;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  line-height: 1.4rem;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
}

.icon-left:before, .icon-right:before {
  font-family: symbols-technomart;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;
}

.icon-left:before {
  content: '\3c';
  margin-left: 12px;
}

.icon-right:before {
  content: '\3e';
}

.icon-left {
  left: 0;
}

.icon-right {
  right: 0;
}

.catalog-title {
  color: #32425c;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 38px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 26px 25px 25px 25px;
  background-color: #f2f6f8;
}

.filter-header {
  margin-bottom: 12px;
  padding: 10px 0 10px 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
  display: flex;
}

.filter-header__title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 224px;
}

.sort-direction {
  float: right;
  width: 64px;
  margin-right: 7px;
}

.sort-dir {
  float: left;
  width: 32px;
  margin: 0;
  font-size: 0;
  text-decoration: none;
  color: #c6c2bd;
}

a.sort-item.sort-item--type {
  width: 53px;
  margin-right: 63px;
}

.sort-dir:hover {
  color: #000000;
}

.sort-dir-active {
  color: #ee3643;
}

.icon-up-dir:before {
  content: '\25b2';
}

.icon-down-dir:before {
  content: '\25bc';
}

.icon-up-dir:before, .icon-down-dir:before {
  font-size: 23px;
  line-height: 18px;
}

.sort-list {
  float: right;
  width: 390px;
}

.sort-item {
  float: left;
  margin-right: 65px;
  border-bottom: 1px dotted #ee3643;
  color: #c6c2bd;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  color: #c6c2bd;
}

.sort-item:first-child {
  margin-right: 70px;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.sort-item-active {
  border-bottom: none;
  color: #ee3643;
}

.catalog-desc {
  padding: 64px 0 68px 0;
  background-color: #f2f6f8;
  width: 100%;
}

.catalog-desc__title {
  margin-bottom: 21px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 38px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-desc__desc {
  margin: 0;
  padding: 0;
  font-size: 13px;
  padding-top: 22px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.popular-assort__wrapper {
  vertical-align: top;
  width: 218px;
  height: 160px;
  margin-bottom: 18px;
  line-height: 168px;
  overflow: hidden;
}

.catalog-btn {
  box-sizing: content-box;
  width: 138px;
  padding: 10px 0;
  border: 1px solid #e5e5e5;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 59px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.catalog-btn:active {
  border-color: #ee3643;
  outline: none;
}

.page {
  margin-top: 51px;
  margin-bottom: 66px;
}

.catalog-btn:hover {
  border-color: #bdc6ca;
  outline: none;
}

.popular-assort--catalog .popular-assort__item {
  margin-top: 0;
}
